<header>
  <div class="overlay"></div>

  <a class="logo" href="/">
    <img src="../assets/logo-bieb-in-bloei-wit.svg" alt="Bieb in Bloei">
  </a>

  <!-- Hamburger Menu -->
  <button class="hamburger" id="hamburger">
    &#9776;
  <!-- Hamburger icon (three bars) -->
  </button>

  

  <!-- Navbar Links -->
  <ul class="navbar-links" id="navbar-links">
    <li>
      <a href="/stekjes">Stekjes</a>
    </li>
    <li>
      <a href="#">Zaden</a>
    </li>
    <li>
      <a href="#">Geveltuin</a>
    </li>
    <li>
      <a href="#">Agenda</a>
    </li>
    <li>
      <a href="#">Partners</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

  <h1>{{ title }}</h1>
  <h2>{{ description }}</h2>
</header>

<script>
  // Toggle menu visibility on hamburger click
  document.getElementById('hamburger').addEventListener('click', function() {
    const navbarLinks = document.getElementById('navbar-links');
    navbarLinks.classList.toggle('active'); // Show or hide the menu
    this.classList.toggle('active'); // Optionally change the button style when clicked
  });
</script>