{% render 'partials/head.liquid'
  , title: 'Bieb in Bloei' %}

{% include 'partials/navbar.liquid' 
  , title: 'Stekjes' %}

<details>
  <summary>Data</summary>
<pre>{{ stekjes | json : 4 }}</pre>
</details>

<ul id="stekje">
  {% for stekje in stekjes %}
    <li class="stekje-item">
      <a href="/stekje/{{ stekje.id }}">{{ stekje.naam }}</a>
    </li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid' %}